/* Light Mode Background */
.about, .experience, .tech, .project {
    background-color: #f7f7f7; /* Tailwind gray-100 */
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark-mode, .proj {
    background-color: black;
    color: white;
}

/* Dark Mode Background */
.dark-bg {
    background-color: #0e0e0e !important; /* Tailwind gray-800 */
}

/* Default styling for a elements */
.proj-border {
    border: 1px solid #222222; /* Dark mode border */
    transition: background-color 0.3s, border 0.3s;
}

/* Light Mode: Remove border and apply new background */
body:not(.dark-mode) .proj-border {
    border: none;
    background-color: #f0f0f0; /* New background for light mode */
}

body:not(.dark-mode) .proj {
    background-color: #898989;
}

body:not(.dark-mode) .spacer {
    color: #e4e0e0;
}

/* Dark Mode: Restore border */
body.dark-mode .proj-border {
    border: 1px solid #222222;
    background-color: transparent;
}

@keyframes upward {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.animate-upward {
    animation: upward 1s ease-in-out;
}

@keyframes delay-upward {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.animate-delay-upward {
    animation: delay-upward 1s ease-in-out;
}